<div class="main">
  <div class="group-title">
    <h3>{{ theGroup.group_nme }}</h3>
  </div>

  <div class="group-intro">
    <p>{{ theGroup.group_intro }}</p>
  </div>

  <div *ngIf="joinedStatus === 'JOINED'" class="tab">
    <div>
      <ul class="remove-ul-style tab-title-box">
        <li class="tab-title active-title" (click)="switchTab($event, 0)">
          Groups Members ({{ usersCountInGroup }})
        </li>
        <li class="tab-title" (click)="switchTab($event, 1)">
          Articles in Group ({{ articlesInGroup }})
        </li>
      </ul>
    </div>
    <div class="tab-content-box">
      <div class="tab-content active-content" name="members">
        <app-user-list
          [groupId]="groupId"
          [isCreator]="amICreator"
          (afterQueryUsers)="refreshAfterQueryList($event)"
        ></app-user-list>
      </div>

      <div class="tab-content" name="articles">
        <app-article-list
          [groupId]="groupId"
          [enableAction]="false"
          [listType]="'articlesInGroup'"
          (afterQueryArticles)="refreshAfterQueryList($event)"
        ></app-article-list>
      </div>
    </div>
  </div>

  <div *ngIf="joinedStatus === 'APPLIED'">
    You have applied join this group, waiting for approved. If you want to
    cancel, please <button class="common-button">click here</button> to join.
  </div>
  <div *ngIf="joinedStatus === 'NOT_JOINED'">
    You have not joined the group
    <button class="common-button">click here</button>
  </div>
</div>
