.tab-title-box {
  display: flex;
}
.tab-title-box li {
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 4px;
}

.active-title {
  border-bottom: 3px solid #1976d2;
}

.tab-content {
  display: none;
}
.active-content {
  display: flex;
}

p {
  text-align: center;
}

.articles ul {
  margin-top: 10px;
  width: 100%;
}
.articles li {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
  padding-top: 10px;
}
.articles li {
  margin-top: 1px solid #dbdbdb;
  margin-bottom: 1px solid #dbdbdb;
}

.articles li:hover {
  cursor: pointer;
  background-color: #b4b4b4;
}
.members {
  flex-wrap: wrap;
}
.members a,
.members a:visited,
.members a:focus,
.members a:active {
  color: #000000;
  display: flex;
  max-width: 120px;
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.member {
  width: 120px;
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
}
.member-icon {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.member-name {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0 auto;
}

.logo-frame-size-40 {
  height: 40px;
  width: 40px;
}

.logo-icon-size-32 {
  font-size: 32px;
}

.articles a,
.articles a:visited,
.articles a:focus,
.articles a:active {
  color: #000000;
  display: block;
}
