.group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbbbbb;
  height: 44px;
}
.group-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  margin-right: 10px;
}

.group-item span a {
  text-decoration: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.group-item p {
  flex: 1;
}
.sort-button {
  cursor: pointer;
}

.moreGroups {
  text-align: center;
  cursor: pointer;
}
