<div class="main">
  <div class="article-title">
    <!-- TODO add last updated time -->
    <input class="obejct" id="title" [formControl]="articleName" type="text" />
    <button
      (click)="onSave()"
      class="verb common-button"
      [disabled]="!articleName.value.length"
    >
      Save
    </button>
    <span class="preposition"> To </span>
    <app-group-options
      class="subject"
      [setOptions]="groupOptions"
      [currentOption]="currentGroup"
      (change)="setGroup($event)"
    ></app-group-options>
  </div>
  <div id="editor" class="article-content"></div>
</div>
