.article-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.article-title .obejct {
  flex-grow: 1;
  width: -webkit-fill-available;
}
.article-title .verb {
  margin-left: 10px;
}
.article-title .preposition {
  margin-left: 10px;
}
.article-title .subject {
  margin-left: 10px;
}
#title {
  height: 40px;
  border: 1px solid #ccc;
  padding: 8px;
}

.article-content {
  border: 1px solid #ccc;
  height: 600px;
  max-height: 800px;
  margin-bottom: 80px;
}
