<div class="header">
  <span class="site-title">
    <a class="white-font" href="/">EASY MANUAL</a>
  </span>
  <div class="spacer"></div>

  <div (click)="popUserOptions()">
    <i
      *ngIf="!userLogin; else loginUser"
      class="fa fa-user user-logo logo-frame-size-40 logo-icon-size-32"
    ></i>
    <ng-template #loginUser>
      <div *ngIf="iconURL.length; else defaultIcon">
        <img class="logo-image" [src]="iconURL" />
      </div>
      <ng-template #defaultIcon>
        <i
          class="fa fa-user user-logo logo-frame-size-40 logo-icon-size-32"
        ></i>
      </ng-template>
    </ng-template>
  </div>
</div>
