.header {
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.header .site-title {
  margin: 0 16px;
}

.spacer {
  flex: 1;
}

.logo-image {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 16px;
}

.logo-image:hover {
  opacity: 0.8;
}
