#user-info {
  border-bottom: 3px solid #dbdbdb;
  display: flex;
  display: -webkit-flex; /* Safari */
  margin-top: 10px;
  padding-bottom: 10px;
}
.user-overview {
  display: flex;
  flex-direction: column;
}

.user-overview span {
  margin-top: 10px;
}

.user-icon img {
  width: 160px;
  height: 160px;
}
.tab-content-box {
  margin-top: 10px;
}

.tab-title-box {
  display: flex;
}
.tab-title-box li {
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 4px;
}

.active-title {
  border-bottom: 3px solid #1976d2;
}

.tab-content {
  display: none;
}
.active-content {
  display: block;
}
.group-item {
  display: flex;
  justify-content: space-between;
}
.group-item span {
  flex: 1;
}
