.members {
  display: flex;
  flex-wrap: wrap;
}
.member a,
.member a:visited,
.member a:focus,
.member a:active {
  color: #000000;
  display: flex;
  max-width: 120px;
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.member {
  width: 120px;
  height: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
}
.member-icon {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.member-name {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0 auto;
}

.articles a,
.articles a:visited,
.articles a:focus,
.articles a:active {
  color: #000000;
  display: block;
}
.no-joined-user {
  text-align: center;
}
.add-new-user {
  display: flex;

  align-items: center;
  justify-content: center;
  cursor: pointer;
}
