/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}
.remove-ul-style {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main {
  width: 1080px;
  margin: 0 auto;
  height: auto;
  max-height: 800;
}

a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
}

.black-font {
  color: #000000;
}

.white-font {
  color: #ffffff;
}

.user-logo {
  display: flex;
  margin: 0 16px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

.user-logo:hover {
  opacity: 0.8;
}

.black-color {
  color: #000000;
}

.common-button {
  background-color: #1976d2;
  color: #ffffff;
  border-radius: 4px;
}
.common-button:disabled {
  background-color: #66a4e2;
  color: #ffffff;
  border-radius: 4px;
}

.common-input-text {
  border-radius: 4px;
}

.cursor-pointer {
  cursor: pointer;
}
